.page-container {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
}

.row-header {

}

.row-race {
  min-height: 316px;
}

.row-main {
  flex-grow: 1;
}
