<div class="flex flex-col">
  <div class="p-2 h-96 rounded-md">
    @if (race(); as raceInfos) {
      <app-race-view-header [race]="race()"/>
      @switch (raceViewState()) {
        @case (RaceViewState.Bet) {
          <app-race-start-timer [race]="race()"/>
        }
        @case (RaceViewState.Run) {
          <app-race-track [race]="race()"/>
        }
        @case (RaceViewState.Result) {
          <app-race-result [race]="race()"/>
        }
      }
    } @else {
      <p>No race yet !</p>
    }
  </div>
</div>
