.bot-point {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-bottom: 5px;
  transition: margin-left 1s linear;
  text-align: center;
  position: relative;

  &[data-face=Exhausted]::before {
    content: '\01F635';
    font-size: 22px;
  }

  &[data-face=Rest]::before {
    content: '\01F636';
    font-size:  22px;
  }

  &[data-face=Sprint]::before {
    content: '\01F621';
    font-size:  22px;
  }
}

.bot-point.started {
  transition: margin-left 1s linear 350ms;
}
