.bot-point {
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  margin-bottom: 5px;
  transition: margin-left 1s linear;
  text-align: center;

  &[data-face=Exhausted]::before {
    content: '\01F635';
    font-size:  17px;
  }

  &[data-face=Rest]::before {
    content: '\01F636';
    font-size:  17px;
  }

  &[data-face=Sprint]::before {
    content: '\01F621';
    font-size:  17px;
  }
}

.bot-point.started {
  transition: margin-left 1s linear 350ms;
}
