:root {
  --ng-gradient: linear-gradient(90deg, rgba(133,20,245,1) 0%, rgba(253,29,29,1) 92%, rgba(250,44,5,1) 100%);
  --sub_title: #313178;
  --text: #6a6af4;
}
/* Global */
video {
  pointer-events: none;
}

.title {
  font-family: system-ui;
  background: var(--ng-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sub_title {
  font-family: system-ui;
  color: var(--sub_title);
  font-style: italic;
}

.list ul {
  columns: 2;
  column-gap: 160px;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.list ul li {
  padding-top: 1px;
}

footer {
  z-index: 1000;
  background: white;
  position: absolute;
  left: 10%;
  width: 80%;
  bottom: 0;
  min-height: 80px;
  text-align: center;
}

footer .onepoint-logo {
  margin-top: 10px;
}

/* Cover */

section.cover {
  height: 90%;
  overflow: hidden;

  .cover-bdxio-logo img {
    position: absolute;
    z-index: 1000;
    bottom: 22%;
    right: 2%;
    width: 15%;
  }

  .cover-qrcode-game img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 15%;
  }

  .cover-bdxio img {
    position: absolute;
    bottom: -40%;
    right: -10%;
    width: 80%;
  }
}


/* whoami */

.whoami {
  margin-top: -70px;
  display: flex;
  flex-direction: column;
}

.whoami img {
  border-radius: 25%;
  width: 400px;
}

.whoami .openblock {
  display: flex;
  flex-direction: column;
}

.whoami .block > .content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.whoami .block > .content .ulist ul {
  list-style: none;
}

.onepoint-ecole {
  color: white;
  margin-left: -48%;
  margin-top: 100px;
}

.onepoint-ecole img {
  max-width: 400px;
}

/* intro */

.columns.ng-logo .slide-content {
  align-items: center;
}

.frise {
  position: relative;
  margin-top: 10%;
}

.frise-step {
  position: relative;
  margin-top: -10%;
}

.frise .frise-background img {
  width: 150%;
}

.frise-item {
  position: absolute;
}

.frise-item img {
  width: 50px;
}

.frise-top {
  top: -35px;
}

.frise-bottom {
  top: 65px;
}

.frise-date,
.frise-text {
  position: absolute;
  font-size: 0.6em;
  color: rgb(75, 75, 75);
  font-weight: bold;
  text-align: center;
  max-width: 100px;
}

.frise-text {
  font-weight: normal;
  font-style: italic;
  font-size: 0.7em;
}

.frise-text.frise-bottom {
  margin-top: 80px;
  margin-left: -60px;
  width: 180px;
  max-width: 180px;
}

.frise-date p {
  line-height: 2.0em;
}

.frise-item-ng1 {
  left: 38px;
}

.frise-item-ng2 {
  left: 168px;
}

.frise-item-mat5 {
  left: 310px;
}

.frise-item-rx6 {
  left: 478px;
}

.frise-item-ivy {
  left: 668px;
}

.frise-item-ng2022 {
  left: 878px;
}

.frise-item-ngnew {
  left: 1090px;
}

.racebot-illu img {
  height: 500px;
}

/* standalone */

.module {
  position: absolute;
  top: -100px;
  left: 100px;
}

.declarations {
  position: absolute;
  top: -50px;
  left: 130px;
}

.exports {
  position: absolute;
  top: 50px;
  left: 130px;
}

.imports {
  position: absolute;
  top: -50px;
  left: 295px;
}

.providers {
  position: absolute;
  top: 50px;
  left: 295px;
}

.schemas {
  position: absolute;
  top: -50px;
  left: 460px;
}

.autres {
  position: absolute;
  top: 50px;
  left: 460px;
}

.component {
  position: absolute;
  top: -100px;
  left: 700px;
}

.selector {
  position: absolute;
  top: -50px;
  left: 730px;
}

.changeDetection {
  position: absolute;
  top: 50px;
  left: 895px;
}

.templateUrls {
  position: absolute;
  top: 50px;
  left: 730px;
}

.styleUrls {
  position: absolute;
  top: -50px;
  left: 895px;
}

.encapsulation {
  position: absolute;
  top: -50px;
  left: 1050px;
}

.autres-component {
  position: absolute;
  top: 50px;
  left: 1050px;
}

.standalone {
  position: absolute;
  top: 220px;
  left: 100px;
}

.standalone-standalone {
  position: absolute;
  top: 270px;
  left: 150px;
}

.imports-standalone {
  position: absolute;
  top: 370px;
  left: 150px;
}

.schemas-standalone {
  position: absolute;
  top: 270px;
  left: 310px;
}

.providers-standalone {
  position: absolute;
  top: 370px;
  left: 310px;
}

.selector-standalone {
  position: absolute;
  top: 270px;
  left: 470px;
}

.templateUrls-standalone {
  position: absolute;
  top: 370px;
  left: 470px;
}

.styleUrls-standalone {
  position: absolute;
  top: 270px;
  left: 630px;
}

.changeDetection-standalone {
  position: absolute;
  top: 370px;
  left: 630px;
}

.encapsulation-standalone {
  position: absolute;
  top: 270px;
  left: 790px;
}

.autres-standalone {
  position: absolute;
  top: 370px;
  left: 790px;
}

.app-module {
  position: absolute;
  top: 200px;
  left: 575px;
}

.app-component {
  position: absolute;
  top: 500px;
  left: 420px;
}

.app-config {
  position: absolute;
  top: 500px;
  left: 690px;
}
/* control-flow */

.code-example-lg pre.code-wrapper {
  width: 100%;
}

.control-flow-cover {
  position: absolute;
  margin: 8% 10%;
  font-style: italic;
  font-weight: bold;
  background: rgb(133,20,245);
  background: var(--ng-gradient);
  color: white;
  width: 250px;
  border-radius: 5px;
}

.control-flow-demo-image img {
  max-width: 300px;
  margin: 0 auto;
}

/* defer */

.defer-cover {
  font-size: 1.6em;
  font-style: italic;
}

.defer-cover .cross-word {
  position: relative;
  display: inline-block;
}

.defer-cover .cross-word::before, .defer-cover .cross-word::after {
  content: '';
  width: 100%;
  position: absolute;
  right: 0;
  top: 50%;
}
.defer-cover .cross-word::before {
  border-bottom: 5px solid rgba(253,29,29,1);
  transform: skewY(-25deg);
}
.defer-cover .cross-word::after {
  border-bottom: 5px solid rgba(253,29,29,1);
  transform: skewY(25deg);
}

.defer-cover .later-word {
  background: var(--ng-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.defer-spa-heavy {
  position: absolute;
  margin: auto;
  width: 100%;
}

.defer-spa-heavy img {
  position: relative;
  top: 100px
}

.defer-spa-heavy p {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.defer-spa-heavy p span {
  max-width: 120px;
  text-align: center;
  font-weight: bold;
  display: inline-block;
  padding-right: 60px;
  padding-left: 60px;
}

.defer-spa-heavy span.html {
  padding-right: 40px;
  padding-left: 80px;
}

.defer-spa-heavy span.htmlcss {

}

.defer-spa-heavy span.htmlcssjs {
  padding-right: 90px;
  padding-left: 10px;
}

.defer-spa-heavy span.angular {
  padding-right: 90px;
  padding-left: 30px;
}

.defer-2-col ul {
  columns: 2;
  column-gap: 160px;
  -webkit-columns: 2;
  -moz-columns: 2;
}
.defer-2-col ul li {
  background: var(--ng-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-style: italic;
  padding-top: 1px;
}

/* signal */

.arbo {
  position: absolute;
  bottom: 0;
  left: 520px
}

.arbo-2-1 {
  position: absolute;
  bottom: -75px;
  left: 440px
}

.arbo-2-2 {
  position: absolute;
  bottom: -75px;
  left: 600px
}

.arbo-3-1 {
  position: absolute;
  bottom: -150px;
  left: 280px
}

.arbo-3-2 {
  position: absolute;
  bottom: -150px;
  left: 440px
}
.arbo-3-3 {
  position: absolute;
  bottom: -150px;
  left: 600px
}

.arbo-3-4 {
  position: absolute;
  bottom: -150px;
  left: 760px
}

.arbo-4-1 {
  position: absolute;
  bottom: -225px;
  left: 120px
}

.arbo-4-2 {
  position: absolute;
  bottom: -225px;
  left: 280px
}
.arbo-4-3 {
  position: absolute;
  bottom: -225px;
  left: 440px
}

.arbo-4-4 {
  position: absolute;
  bottom: -225px;
  left: 600px
}

.arbo-4-5 {
  position: absolute;
  bottom: -225px;
  left: 760px
}

.arbo-4-6 {
  position: absolute;
  bottom: -225px;
  left: 920px
}

/* zoneless */

/* conclusion */
.conclusion > .content {
  display: flex;
  flex-direction: row;
}

.conclusion .code {
  flex: 1;
}

.conclusion .code > .content {
  display: flex;
  flex-direction: column;
}
