:root {
  --ng-gradient: linear-gradient(90deg, rgba(133,20,245,1) 0%, rgba(253,29,29,1) 92%, rgba(250,44,5,1) 100%);
  --sub_title: #313178;
  --text: #6a6af4;
}
/* Global */
video {
  pointer-events: none;
}

.title {
  font-family: system-ui;
  background: var(--ng-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sub_title {
  font-family: system-ui;
  color: var(--sub_title);
  font-style: italic;
}

.text {
  color: var(--text);
  font-weight: bold;
  font-style: italic;
  padding-top: 1px;
}

.list ul {
  columns: 2;
  column-gap: 160px;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.list ul li {
  list-style: none;
  color: var(--text);
  font-weight: bold;
  font-style: italic;
  padding-top: 1px;

}

/* Cover */

/* whoami */

.whoami {
  margin-top: -70px;
  display: flex;
  flex-direction: column;
}

.whoami img {
  border-radius: 25%;
  width: 400px;
}

.whoami .openblock {
  display: flex;
  flex-direction: column;
}

.whoami .block > .content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.whoami .block > .content .ulist ul {
  list-style: none;
}

/* intro */

/* standalone */

.module {
  position: absolute;
  top: -150px;
  left: -100px;
}

.component {
  position: absolute;
  top: -150px;
  left: 450px;
}

.standalone {
  position: absolute;
  top: 150px;
  left: 150px;
}

.module-declaration {
  position: absolute;
  top: 160px;
  left: 150px;
}

.module-declaration {
  position: absolute;
  top: 160px;
  left: 150px;
}

/* control-flow */

.code-example-lg pre.code-wrapper {
  width: 100%;
}

.control-flow-cover {
  position: absolute;
  margin: 8% 10%;
  font-style: italic;
  font-weight: bold;
  background: rgb(133,20,245);
  background: var(--ng-gradient);
  color: white;
  width: 250px;
  border-radius: 5px;
}

.control-flow-demo-image img {
  max-width: 300px;
  margin: 0 auto;
}

/* defer */

.defer-cover {
  font-size: 1.6em;
  font-style: italic;
}

.defer-cover .cross-word {
  position: relative;
  display: inline-block;
}

.defer-cover .cross-word::before, .defer-cover .cross-word::after {
  content: '';
  width: 100%;
  position: absolute;
  right: 0;
  top: 50%;
}
.defer-cover .cross-word::before {
  border-bottom: 5px solid rgba(253,29,29,1);
  transform: skewY(-25deg);
}
.defer-cover .cross-word::after {
  border-bottom: 5px solid rgba(253,29,29,1);
  transform: skewY(25deg);
}

.defer-cover .later-word {
  background: var(--ng-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.defer-spa-heavy {
  position: absolute;
}

.defer-spa-heavy img {
  position: relative;
  top: 100px
}

.defer-spa-heavy span {
  position: absolute;
  top: 0;
  display: block;
  max-width: 110px;
  text-align: center;
  font-weight: bold;
}

.defer-spa-heavy span.html {
  left: 120px;
}

.defer-spa-heavy span.htmlcss {
  left: 310px;
}

.defer-spa-heavy span.htmlcssjs {
  left: 490px;
}

.defer-spa-heavy span.angular {
  left: 710px;
}

.defer-2-col ul {
  columns: 2;
  column-gap: 160px;
  -webkit-columns: 2;
  -moz-columns: 2;
}
.defer-2-col ul li {
  background: var(--ng-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-style: italic;
  padding-top: 1px;
}

/* signal */

.arbo {
  position: absolute;
  bottom: 100px;
  left: 400px
}

.arbo-2-1 {
  position: absolute;
  bottom: 25px;
  left: 320px
}

.arbo-2-2 {
  position: absolute;
  bottom: 25px;
  left: 480px
}

.arbo-3-1 {
  position: absolute;
  bottom: -50px;
  left: 160px
}

.arbo-3-2 {
  position: absolute;
  bottom: -50px;
  left: 320px
}
.arbo-3-3 {
  position: absolute;
  bottom: -50px;
  left: 480px
}

.arbo-3-4 {
  position: absolute;
  bottom: -50px;
  left: 640px
}

.arbo-4-1 {
  position: absolute;
  bottom: -125px;
  left: 0px
}

.arbo-4-2 {
  position: absolute;
  bottom: -125px;
  left: 160px
}
.arbo-4-3 {
  position: absolute;
  bottom: -125px;
  left: 320px
}

.arbo-4-4 {
  position: absolute;
  bottom: -125px;
  left: 480px
}

.arbo-4-5 {
  position: absolute;
  bottom: -125px;
  left: 640px
}

.arbo-4-6 {
  position: absolute;
  bottom: -125px;
  left: 800px
}

/* zoneless */

/* conclusion */


.conclusion-ng-next {
  background: var(--ng-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
