<div [appContainer]="'sky'" class="row-race col-span-12">
  <app-race-view/>
</div>
<div class="row-main m-2 flex container-bets">
  <div [appContainer]="'sky'" [margin]="false"
       class="col-control flex flex-col justify-between overflow-auto mr-2">
    <div class="grow grid grid-cols-3 gap-2 m-2">
      @if (raceState() === RaceState.BetsOpened) {
        @for (bet of bets(); track bet.id) {
          <app-bet-card [betConfig]="bet"/>
        } @empty {
          <div class="text-white m-2">No bets found</div>
        }
      }
    </div>
    <div class="flex">
      @for (raceOption of raceStartOptions; track raceOption.title) {
        <button class="flex-1 m-2 h-12 pointer-events-auto rounded-md p-2 font-semibold leading-5
                       text-white bet-button bg-red-600 hover:bg-red-500"
                (click)="startRace(raceOption.timer)">
          {{ raceOption.title }}
        </button>
      }
    </div>
  </div>
  <div [appContainer]="'sky'" [margin]="false" class="col-bet col-span-3">
    <app-list-betting/>
  </div>
</div>
