<div class="flex flex-col items-center">
  <div>
    <div>
      <button class="flex-1 m-2 h-12 pointer-events-auto rounded-md p-2
    font-semibold leading-5 text-white bet-button bg-red-600 hover:bg-red-500">Signal
      </button>
      <button class="flex-1 m-2 h-12 pointer-events-auto rounded-md p-2
    font-semibold leading-5 text-white bet-button bg-red-600 hover:bg-red-500"
              (click)="comptutedActivated = !comptutedActivated">Computed
      </button>
      <button class="flex-1 m-2 h-12 pointer-events-auto rounded-md p-2
    font-semibold leading-5 text-white bet-button bg-red-600 hover:bg-red-500"
              (click)="effectActivated = !effectActivated">Effect
      </button>
    </div>
  </div>
  <div style="border: thick double #9CD9F0; width: 90%; padding: 10px; background-color: white" class="rounded-md">
    <div class="flex justify-between">
      <div class="flex flex-col">
        <h1 class="font-semibold leading-5">Count: {{ count() }}</h1>
        <h1 class="font-semibold leading-5">DoubleCount: {{ doubleCount() }}</h1>
      </div>
      <div class="flex flex-col">
        <h1 class="font-semibold leading-5">CountObs: {{ countObs }}</h1>
        <h1 class="font-semibold leading-5">DoubleCountObs: {{ doubleCountObs$ | async }}</h1>
      </div>
    </div>
    <div class="flex justify-center mt-8">
      <button (click)="resetValue()" class="m-2 h-12 pointer-events-auto rounded-md p-2
    font-semibold leading-5 text-white bet-button bg-red-400 hover:bg-red-800">Reset</button>
      <button (click)="decrementValue()" class="m-2 h-12 pointer-events-auto rounded-md p-2
    font-semibold leading-5 text-white bet-button bg-cyan-400 hover:bg-cyan-800">Decrement</button>
      <button (click)="incrementValue()" class="m-2 h-12 pointer-events-auto rounded-md p-2
    font-semibold leading-5 text-white bet-button bg-cyan-400 hover:bg-cyan-800">Increment</button>
    </div>
  </div>
  @if (comptutedActivated) {
    <div style="border: thick double #9CD9F0; width: 90%; padding: 10px; background-color: white" class="m-1 rounded-md">
      <div class="flex flex-col items-center mt-2">
        <h1 class="font-semibold leading-5">{{ conditionalCount() }}</h1>
        <button (click)="changeConditionalDouble()" class="m-2 h-12 pointer-events-auto rounded-md p-2
    font-semibold leading-5 text-white bet-button bg-cyan-400 hover:bg-cyan-800">Je veux voir un
          count
        </button>
      </div>
    </div>
  }

  @if (effectActivated) {
    <div
      style="border: thick double #9CD9F0; width: 90%; padding: 10px; display: flex; flex-direction: column; align-items: center; background-color: white"
      class="m-1 rounded-md"
    >
      <div>
        <button (click)="changeDisplayChild()" class="m-2 h-12 pointer-events-auto rounded-md p-2
    font-semibold leading-5 text-white bet-button bg-cyan-400 hover:bg-cyan-800">Remove child</button>
        <button (click)="changeDisplayChild()" class="m-2 h-12 pointer-events-auto rounded-md p-2
    font-semibold leading-5 text-white bet-button bg-cyan-400 hover:bg-cyan-800">Add child</button>
      </div>
      <div style="margin: 20px 0">
        @if (displayChild) {
          <app-counter-child></app-counter-child>
        }
      </div>
    </div>
  }
</div>
