@if (betConfig(); as betConfig) {
  <div [appContainer]="'light'" [margin]="false">
    <p class="mb-4 font-bold text-base">{{ betConfig.name }}</p>
    <div class="flex flex-col">
      @for (runner of betConfig.runners; track runner.id) {
        <div class="flex mb-2">
          <div class="w-64 text-sm content-center font-bold">{{ runner.name }}</div>
          <button
            class="w-32 h-8 pointer-events-auto rounded-md font-semibold text-white shadow-lg"
            (click)="bet(runner, betConfig)"
            [ngStyle]="{'background-color': runner.color }"
          >
            {{ runner.odds }}
          </button>
        </div>
      }
    </div>
  </div>
}
