/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.bot-point {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-bottom: 5px;
  transition: margin-left 1s linear;
}
