<a *ngIf="robot"
   [routerLink]="'robot-detail/' + robot.name" routerLinkActive
>
  <div [appContainer]="'light'" [margin]="false" class="flex flex-col mr-2"
       [ngStyle]="{ 'background-color': robot.color }"
  >
    <h2 class="text-white flex-1 content-center text-center font-bold text-1s">{{ robot.name}}</h2>
    <ul>
      @for(stat of robot.stats; track stat.type) {
        <li class="flex justify-between mb-1">
          <span class="flex-1 text-white">{{stat.type}}:</span>
          <span class="bg-white flex-1"><span class="stat-bar stat-bar-{{stat.type}}" [ngStyle]="{width: stat.value + 'px'}"></span></span>
        </li>
      }
    </ul>
    <!-- TODO image in details -->
<!--    <img [ngSrc]="'/assets/images/robot-bolt.jpg'"-->
<!--         class="m-2 border-2 border-teal-800" alt="robot image" width="60" height="30">-->
  </div>
</a>
