<a *ngIf="robot"
   [routerLink]="'robot-detail/' + robot.name" routerLinkActive>
  <div [appContainer]="'light'" [margin]="false" class="flex flex-col mr-2">
    <h2 class="text-gray-800 text-center font-bold drop-shadow-lg flex justify-center items-center">
      <app-race-bot class="mr-2" [raceStarted]="false" [trackLength]="0" [robot]="robot" />
      {{ robot.name}}
    </h2>
    <ul>
      @for(stat of robot.stats; track stat.type) {
        <li class="flex justify-between mb-1">
          <span class="flex-1 ">{{stat.type}}:</span>
          <span class="bg-white flex-1"><span class="stat-bar stat-bar-{{stat.type}}" [ngStyle]="{width: stat.value + 'px'}"></span></span>
        </li>
      }
    </ul>
  </div>
</a>
