<div class="flex flex-col">
  <div class="flex justify-between">
    @if (currentUser(); as currentUser) {
      <div class="flex items-end">
        <p class="text-6xl font-bold text-gray-50">R</p>
        <p class="font-bold text-gray-50">obot</p>
        <p class="text-6xl font-bold text-gray-50">B</p>
        <p class="font-bold text-gray-50">et</p>
      </div>
      <div>
        <button class="bg-gray-50 text-gray-800 font-bold py-2 px-4 rounded-md" (click)="startRace()">DEMARRER LA
          COURSE
        </button>
      </div>
      <div class="flex mt-2">
        <p class="font-bold text-lg text-gray-50 mr-5">{{ currentUser.firstname + ' ' + currentUser.lastname }}</p>
        <p class="font-bold text-lg text-gray-50">betCoins: {{ currentUser.money }}</p>
      </div>
    }
  </div>
  <div class="mt-2 bg-gray-400 h-96 rounded-md">
    COURSE ICI
  </div>
</div>
