<div class="flex flex-col">
  <div class="flex justify-between">
    @if (currentUser(); as currentUser) {
      <div class="flex items-end">
        <p class="text-6xl font-bold text-gray-50">R</p>
        <p class="font-bold text-gray-50">obot</p>
        <p class="text-6xl font-bold text-gray-50">B</p>
        <p class="font-bold text-gray-50">et</p>
      </div>
      <div class="flex mt-2">
        <p class="font-bold text-2xl text-gray-50 mr-5">{{ currentUser.firstname + ' ' + currentUser.lastname }}</p>
        <p class="font-bold text-2xl text-gray-50">Coins: {{ currentUser.money }}</p>
      </div>
    }
  </div>
  <div class="mt-2 bg-gray-400 h-96 rounded-md">
    COURSE ICI
  </div>
</div>
