@if (race(); as race) {
  <div class="flex mt-4">
    <ul class="flex-1 overflow-hidden track" #raceTrack>
      @for (robot of race.robots; track robot.name) {
        <li>
          <app-race-bot [robot]="robot" [trackLength]="raceTrack.clientWidth"/>
        </li>
      }
    </ul>
    <div class="finish-line"></div>
  </div>
  @if (race.state === RaceState.BetsClosed) {
    <div class="grow-0 flex mt-4 justify-center">
      <p class="text-white">La course va bientôt débuter</p>
    </div>
  }
}
